<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css" />
    <link rel="stylesheet" href="../static/style/base.css">
    <title>Blockchain Insper</title>
  </head>
  <body>
    <header>
      <nav class="container">
        <div class="logo">
          <div class="logo-icon">
            <a href="/"><img src="static/img/parceiros/logo blockchain novo.jpg" alt="logo" width="115" height="42" /></a>
          </div>
        </div>
        <ul class="nav-links">
          <li>
            <a href="/processo">Processo Seletivo</a>
          </li>
          <li>
            <a href="/time">Time</a>
          </li>
          <li>
            <a href="/nucleos">Núcleos</a>
          </li>
          <li>
            <a href="/fundo">Fundo</a>
          </li>
          <li>
            <a href="/parceiros">Parceiros</a>
          </li>
          <li>
            <a href="/aprenda">Aprenda</a>
          </li>
          <li>
            <a href="/contato">Contato</a>
          </li>
        </ul>
      </nav>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
      <div class="container-foot">
        <p class="footer-text">© 2025 Blockchain Insper. All rights reserved.</p>
      </div>
      <ul id="links">
        <li>
          <a href="https://discord.gg/jdK5yB48Mm" target="_blank"><img src="../static/img/icons/discord.svg" alt="Discord" /></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/blockchain-insper" target="_blank"><img src="../static/img/icons/linkedin.svg" alt="linkedin" /></a>
        </li>
        <li>
          <a href="https://www.instagram.com/blockchainsper/" target="_blank"><img src="../static/img/icons/insta.svg" alt="Instagram" /></a>
        </li>
        <li>
          <a href="https://github.com/BlockchainInsper" target="_blank"><img src="../static/img/icons/github.svg" alt="github" /></a>
        </li>
        <li>
          <a href="mailto:blockchainsper@gmail.com" target="_blank"><img src="../static/img/icons/email.svg" alt="E-mail" /></a>
        </li>
      </ul>
    </footer>
  </body>
</html>
