<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Blockchain Insper</title>
  </head>
  <body>
    <header>
      <nav class="container">
        <div class="logo">
          <div class="logo-icon"><img src="static/img/parceiros/logow.png" alt="logo" width="154" height="42"></div>
        </div>
        <ul class="nav-links">
          <li>
            <a href="#processo">Processo Seletivo</a>
          </li>
          <li>
            <a href="#time">Time</a>
          </li>
          <li>
            <a href="#nucleos">Núcleos</a>
          </li>
          <li>
            <a href="#fundo">Fundo</a>
          </li>
          <li>
            <a href="#parceiros">Parceiros</a>
          </li>
          <li>
            <a href="#aprenda">Aprenda</a>
          </li>
          <li>
            <a href="#contato">Contato</a>
          </li>
        </ul>
        <button class="theme-toggle">☀️</button>
      </nav>
    </header>

    {% block content %}
    
    {% endblock content %}

    <footer>
    <div class="container">
      <p class="footer-text">© 2025 Blockchain Insper. All rights reserved.</p>
    </div>
  </footer>
  </body>
</html>
