{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BlockchainSper Fund</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style/fundo.css') }}">
</head>
<body>

  <!-- Hero -->
<section class="hero">
  <h1>Fundo Blockchain Insper</h1>
  <p>Nossa tese de investimento consiste em analisar os whitepapers de diversas criptomoedas, a partir disso avaliando sua aplicabilidade, escalabilidade e potencial de crescimento futuro. Dessa forma, realizamos a alocação de ativos do nosso fundo simulado.</p>
</section>


  <section class="indicators">
    <h2>Indicadores</h2>
    <div class="indicators-grid">
    <div class="indicator-card">
      <div class="indicator-content">
        <img src="{{ url_for('static', filename='img/researches/crypto.png') }}" alt="crypto">
        <h3>Retorno acumulado</h3>
      </div>
    </div>

    <div class="indicator-card">
      <div class="indicator-content">
        <img src="{{ url_for('static', filename='img/researches/dinheiro.png') }}" alt="dinheiro">
        <h3>Retorno anual médio</h3>
      </div>
    </div>

    <div class="indicator-card">
      <div class="indicator-content">
        <img src="{{ url_for('static', filename='img/researches/grafico.png') }}" alt="grafico">
        <h3>Número de ativos</h3>
      </div>
    </div>
    </div>
  </section>

<section class="researches">
  <h2>Researches</h2>
<div class="research-grid">
  {% for r in researches %}
  <a class="research-card" href="{{ r.url }}" target="_blank" rel="noopener">
  <div class="research-image"
       style="background-image:url('{{ url_for('static', filename=r.img) }}')">
  </div>
<div class="research-content">
  <div class="research-body">
    <h4>{{ r.titulo }}</h4>
    <p>{{ r.descricao }}</p>
  </div>

  <span class="research-tag">Research • {{ r.ano }}</span>
</div>
  {% endfor %}
</div>
</section>

</body>
</html>
{% endblock content %}
