{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/style/nucleos.css">
<main>
  <div class="title">
    <h1>Nossas áreas de atuação</h1>
  </div>

  <ul class="areas">
    <li>
      <h2>Business</h2>
      <span>Conecta a tecnologia blockchain ao mercado, desenvolvendo projetos e analisando suas aplicações em diversas indústrias.</span>
      <div class="sep"></div>
    </li>
    <li>
      <h2>Financeiro</h2>
      <span>Estudo do mercado de criptoativos, tecnologia blockchain no mercado financeiro e possíveis estratégias elaboradas.</span>
      <div class="sep"></div>
    </li>
    <li>
      <h2>Tech</h2>
      <span>Estudo da tecnologia blockchain na parte técnica, smart-contracts, dApps, softwares e criptografia.</span>
      <div class="sep"></div>
    </li>
  </ul>
</main>

{% endblock content %}