{% extends 'base.html' %}
{% block content %}
  <link rel="stylesheet" href="../static/style/parceiros.css" />
  <main>
    <div class="title">
      <h1>Conheça nossas parcerias</h1>
    </div>

    <table>
      <tr>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/insper.png" alt="Insper" />
            <h3>Insper</h3>
            <a class="cta-button" href="https://www.insper.edu.br/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/mercadobtc.jpg" alt="Mercado Bitcoin" />
            <h3>Mercado Bitcoin</h3>
            <a class="cta-button" href="https://www.mercadobitcoin.com.br/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/ambev.jfif" alt="Ambev" />
            <h3>Ambev</h3>
            <a class="cta-button" href="https://www.ambev.com.br/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/itau.png" alt="Itaú" />
            <h3>Itaú</h3>
            <a class="cta-button" href="https://www.itau.com.br/" target="_blank">Mais informações</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/dotz.png" alt="Dotz" />
            <h3>Dotz</h3>
            <a class="cta-button" href="https://www.dotz.com.br/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/gcb.jfif" alt="GCB Investimentos" />
            <h3>GCB Investimentos</h3>
            <a class="cta-button" href="https://gcbinvestimentos.com/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/peer.png" alt="Peer BR" />
            <h3>Peer BR</h3>
            <a class="cta-button" href="https://peerbr.com/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/coins.jfif" alt="Coins" />
            <h3>Coins</h3>
            <a class="cta-button" href="https://coins.com.br/" target="_blank">Mais informações</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/ulrich.jpg" alt="Fernando Ulrich" />
            <h3>Insper</h3>
            <a class="cta-button" href="https://www.linkedin.com/in/fernando-ulrich-aa805821/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/blockchainberkeley.png" alt="Blockchain Berkeley" />
            <h3>Blockchain Berkeley</h3>
            <a class="cta-button" href="https://blockchain.berkeley.edu/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/beetech.jpeg" alt="BeeTch" />
            <h3>BeeTch</h3>
            <a class="cta-button" href="https://beetech.global/" target="_blank">Mais informações</a>
          </div>
        </td>
        <td>
          <div class="parc">
            <img src="../static/img/parceiros/blockmaster.jpg" alt="Block Master" />
            <h3>Block Master</h3>
            <a class="cta-button" href="https://blockmaster.com.br/" target="_blank">Mais informações</a>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="4" style="border: none; padding: 0;">
          <div style="display: flex; justify-content: center; gap: 2rem;">
            <div style="padding: 2rem; border: 1px solid #FF0000; border-radius: 10px;">
              <div class="parc">
                <img src="../static/img/parceiros/icolab.png" alt="iCoLab">
                <a href="https://icolab.org.br/" class="cta-button" target="_blank">Mais informações</a>
              </div>
            </div>
            <div style="padding: 2rem; border: 1px solid #FF0000; border-radius: 10px;">
              <div class="parc">
                <img src="../static/img/parceiros/marventures.png" alt="Mar Ventures">
                <a href="https://www.mar.ventures/" class="cta-button" target="_blank">Mais informações</a>
              </div>
            </div>
            <div style="padding: 2rem; border: 1px solid #FF0000; border-radius: 10px;">
              <div class="parc">
                <img src="../static/img/parceiros/portaldobtc.webp" alt="Portal do Bitcoin">
                <a href="https://portaldobitcoin.uol.com.br/" class="cta-button" target="_blank">Mais informações</a>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </main>
{% endblock %}
