{% extends "base.html" %}
{% block content %}
<form method="post" class="form-processo" id="dados-candidato">
  <input type="" name="name" placeholder="Nome completo">
  <input type="text" name="email" placeholder="Email do insper">
  <input type="text" name="phone" placeholder="Celular com DDD">
  <input type="text" name="matricula" placeholder="Número de matrícula">
  <select name="course" id="form-curso">
    <option value="">--Curso--</option>
    <option value="econo">Economia</option>
    <option value="adm">Administração</option>
    <option value="dir">Direito</option>
    <option value="ccomp">Ciência da Computação</option>
    <option value="eng-comp">Engenharia da Computação</option>
    <option value="mec"> Engenharia Mecânica</option>
    <option value="mecat">Engenharia Mecatrônica</option>
  </select>
  <select name="semestre" id="form-curso">
    <option value="">--Semestre--</option>
    <option value="1">1o semestre</option>
    <option value="2">2o semestre</option>
    <option value="3">3o semestre</option>
    <option value="4">4o semestre</option>
    <option value="5">5o semestre</option>
    <option value="6">6o semestre</option>
    <option value="7">7o semestre</option>
    <option value="8">8o semestre</option>
    <option value="9">9o semestre</option>
    <option value="10">10o semestre</option>
  </select>

  <button type="submit">Enviar inscrição</button>
</form>
{% endblock content %}